# These are the requirements for building our documentation, both locally
# and on Read the Docs. Read the Docs builds must be configured to use
# this file, as part of the "Advanced Settings" for our project:
#   https://readthedocs.com/dashboard/narrativ-narrativ/advanced/
#
# Note that Read the Docs already provides a default sphinx build environment,
# but we do not use it because it contains some outdated and buggy packages --
# https://github.com/rtfd/readthedocs.org/issues/2398
#
# If you need to update these requirements:
#   1. Add any new packages to `requirements-unpinned.txt`
#   2. Run `pip install -r requirements-unpinned.txt`
#   3. Update this file with the output of `pip freeze`

alabaster==0.7.10
argh==0.26.2
Babel==2.4.0
certifi==2017.4.17
chardet==3.0.4
docutils==0.13.1
idna==2.5
imagesize==0.7.1
Jinja2==2.9.6
livereload==2.5.1
MarkupSafe==1.0
pathtools==0.1.2
# pkg-resources==0.0.0  # not a real package -- https://github.com/pypa/pip/issues/4022
port-for==0.3.1
Pygments==2.2.0
pytz==2017.2
PyYAML==3.12
requests==2.18.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
tornado==4.5.1
urllib3==1.21.1
watchdog==0.8.3
